@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=JetBrains+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@400;500;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Tajawal", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply antialiased text-slate-900 bg-[#F8FAFC];
    background-image: 
      radial-gradient(at 0% 0%, rgba(99, 102, 241, 0.03) 0px, transparent 50%),
      radial-gradient(at 100% 0%, rgba(236, 72, 153, 0.03) 0px, transparent 50%),
      radial-gradient(at 100% 100%, rgba(16, 185, 129, 0.03) 0px, transparent 50%),
      radial-gradient(at 0% 100%, rgba(59, 130, 246, 0.03) 0px, transparent 50%);
  }
}

@layer utilities {
  .weapon-text {
    @apply font-black tracking-tighter leading-none;
  }
  .glass-card {
    @apply bg-white/70 backdrop-blur-xl border border-white shadow-sm ring-1 ring-black/[0.02];
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
